<html>
    <title>OutputStatus</title>
    <body>
        <p>Input is saved to DB</p>
        <form action="/" method="GET">
            <input type="submit" value="Back">
        </form>
    </body>
</html>